.contact-us {
    margin-top: 6vw;
    
    .contact-info {
        margin-bottom: 6vw;

        .h2 {
            margin-top: 0;
        }
    }
    .contact-data {
        .contact-data__section {
            div {
                p {
                    margin: 0 0 1vw 0;
                    pointer-events: none;
                }
            }
            a:hover {
                text-decoration: underline;
                color: rgba(99,69,50,255);
            }

            &:first-of-type {
            margin-bottom: 4vw;
            }
        }
    }
}

.contact-form {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.personal-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    div {
        display: grid;
        grid-template-columns: 1fr;
        input {
            width: 100%;
        }
        label {
            color: rgba(99,69,50,255);
        }
    }
}

.personal-data {
    margin-top: 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 1rem;
    div {
        input {
            max-width: 10rem;
            margin-top: 0.25rem;
            padding: 0.3rem 0.5rem;
        }
        textarea {
            width: 100%;
        }
    }
}

@media only screen and (min-width: 768px) {
    .contact-us {
        display: flex;
        column-gap: 30%;
        align-items: center;
        .contact-info {
            margin-bottom: 0;
        }
    }
}
